body {
  background-color: #2d354a;
}

.color-card-1 {
  background: #fdfeff;
}
.color-card-2 {
  background-color: #282c34;
  color: white;
}

h1,
h3 {
  margin: 5px;
}
.title-1 {
  color: #2d354a;
  font-family: roboto;
  weight: 300;
}
.title-2 {
  color: #eee;
  font-family: roboto;
  weight: 300;
}
.description {
  color: #a89ec9;
  margin: 5px 10px 10px 18px;
  font-family: roboto;
  font-size: 16px;
  weight: bold;
}
.description-1 {
  color: #2d354a;
  margin: 5px 10px 10px 18px;
  font-family: roboto;
  font-size: 16px;
  weight: bold;
}
.price {
  border: 1.5px solid white;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: whte;
  font-weight: 700;
  cursor: pointer;
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 5px 10px 5px 5px;
}
.price-1 {
  border: 1.5px solid #2d354a;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: #2d354a;
  font-weight: 700;
  cursor: pointer;
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 5px 10px 5px 5px;
}
.price p,
.price-1 p {
  margin-top: 0;
  margin-bottom: 0;
}
.hr-1 {
  border-bottom: 1px solid #27262655;
  width: 28%;
  margin: 24px 0 0 0px;
  border-top: 2px solid #626161;
}
.partition hr {
  border-bottom: 1px solid #88888855;
  width: 28%;
  margin: 24px 0 0 0px;
}
.partition {
  margin-left: 20px;
}
ins {
  text-decoration: none;
  color: white;
}
.creator-1 {
  text-decoration: none;
  color: #818183;
}

.job-title {
  color: #7c8097;
  font-size: 20px;
  weight: 500;
  margin: 0 6px 0 6px;
  font-family: roboto;
}

.job-title-2 {
  color: #d2d4dd;
  font-size: 20px;
  weight: 500;
  margin: 0 6px 0 6px;
  font-family: roboto;
}

* {
  font-family: Roboto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Button */
.top {
  margin-top: 16px;
}

.circule {
  border-radius: 50%;
  border: none;
  height: 60px;
  width: 60px;
  color: #ffffff;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.up {
  margin-top: 40px;
}

.img {
  width: 280px;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}

.sub-content {
  display: flex;
  justify-content: space-between;
  max-width: 310px;
}

.container:after,
.container:before {
  content: ' ';
  display: table;
}

.container:after {
  clear: both;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-07,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-1-3 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-1 {
  padding: 5px;
  display: inline;
}
.grid-2 {
  width: 100px;
}
.grid-3 {
  width: 160px;
}
.grid-4 {
  width: 220px;
}
.grid-5 {
  width: 280px;
}
.grid-6 {
  width: 340px;
}
.grid-07 {
  width: 375px;
}
.grid-7 {
  width: 350px;
  margin-top: 10px;
}
.grid-8 {
  width: 460px;
}
.grid-9 {
  width: 520px;
}
.grid-10 {
  width: 580px;
}
.grid-11 {
  width: 640px;
}
.grid-12 {
  width: 700px;
}
.grid-13 {
  width: 760px;
}
.grid-14 {
  width: 820px;
}
.grid-15 {
  width: 880px;
}
.grid-16 {
  width: 940px;
}
.grid-1-3 {
  width: 300px;
}

.card {
  padding-top: 1rem;
  border-radius: 0.7rem;
  display: inline-block;
  border: 1px solid #ffffff22;

  position: relative;
  width: 315px;
  box-shadow: 0 12px 13px rgba(0, 0, 0, 0.16), 0 12px 13px rgba(0, 0, 0, 0.16);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Scroll design */
#scroll-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#scroll-3::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#scroll-3::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.15);
}

.card-6 {
  -webkit-box-shadow: 10px 10px 44px 15px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 44px 15px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 44px 15px rgba(0, 0, 0, 0.14);
}

.card-elevation {
  /*sombra*/
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.25);
}

.profile {
  max-width: 80%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.element-animation {
  animation: animationFrames ease 2s;
  animation-iteration-count: 2;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
}

.btn-style {
  padding: 0;
  background: none;
  display: flex;
  position: relative;
  border: none;
  color: black;
  font-weight: 700;
}

@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    transform: translate(30px, 0px);
  }
  80% {
    transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translate(-1500px, 0px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(30px, 0px);
  }
  80% {
    -webkit-transform: translate(-10px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}
